@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


// require_tree .
// require_self


.posts {
  background: #f6f7f8;
}

.homes {
  background: #f6f7f8;
}

.registrations {
  background: #f6f7f8;
}

.customers {
  background: #f6f7f8;
}